@page "/"
@using herodesknew.Shared
<h3>Início</h3>

<p>Esta é a tela inicial do sistema de Helpdesk.</p>

@if (tickets == null)
{
    <p>Carregando informações dos tickets...</p>
}
else
{
    <RadzenCard Style="width: 300px;" Class="mb-3">
        <RadzenText>
            Total de Tickets
        </RadzenText>
        <RadzenStack>
            <p>Total de Tickets Abertos: @totalTicketsAbertos</p>
            <p>Total de Tickets Fechados: @totalTicketsFechados</p>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard Style="width: 300px;">
        <RadzenText>
            Tempo Médio de Resolução
        </RadzenText>
        <RadzenText>
            <p>@tempoMedioResolucao horas</p>
        </RadzenText>
    </RadzenCard>
}

@code {
    private List<Ticket> tickets;

    private int totalTicketsAbertos;
    private int totalTicketsFechados;
    private double tempoMedioResolucao;

    protected override void OnInitialized()
    {
        //Simulando a busca de tickets do servidor
       tickets = new List<Ticket>
       {
            new Ticket { Id = 1, Title = "Ticket 1", UserEmail = "user1@example.com", IsClosed = false ,IdDepartment = 0,Description = string.Empty,SlaUsed=10},
           // Adicione mais tickets aqui, se necessário
       };

        // Calcular as informações dos tickets
       totalTicketsAbertos = tickets.Count(t => !t.IsClosed);
        totalTicketsFechados = tickets.Count(t => t.IsClosed);
        tempoMedioResolucao = tickets.Where(t => t.IsClosed).Select(t => t.SlaUsed).DefaultIfEmpty().Average();
    }
}
