@page "/"
@using herodesknew.Application.Tickets.Queries.GetTickets;
@using herodesknew.Domain.Entities;
@using herodesknew.Shared

@inject HttpClient Http

<h3>Início</h3>

@if (tickets == null)
{
    <p>Carregando informações dos tickets...</p>
}
else
{
    <RadzenCard Style="width: 300px;" Class="mb-3">
        <RadzenText>
            Total de Tickets @firstDayOfMonth.ToString("yyyy/MM")
        </RadzenText>
        <RadzenStack>
            <p>Total de Tickets em Analise: @totalTicketsEmAnalise</p>
            <p>Total de Tickets Fechados: @totalTicketsFechados</p>
        </RadzenStack>
    </RadzenCard>

    <RadzenCard Style="width: 300px;">
        <RadzenText>
            SLA Médio de Resolução
        </RadzenText>
        <RadzenText>
            <p>@slaMedioResolucao %</p>
        </RadzenText>
    </RadzenCard>
}

@code {
    private int totalTicketsEmAnalise;
    private int totalTicketsFechados;
    private double slaMedioResolucao;
    private DateTime firstDayOfMonth;

    private TicketResponse[]? tickets;
}
