@page "/listagem-tickets"

@using System.Collections.Generic
@using herodesknew.Application.Tickets.Queries.GetTickets;
@using herodesknew.Domain.Entities;
@using herodesknew.Shared

@inject HttpClient Http

<h3>Listagem de Tickets</h3>

@if (tickets == null)
{
    <p>Carregando tickets...</p>
}
else
{
    <RadzenDataGrid TItem="TicketResponse" Data="@tickets" PageSize="8" ShowExpandColumn AllowPaging AllowSorting AllowColumnResize AllowFiltering>
        <Columns>
            <RadzenDataGridColumn TItem="TicketResponse" Property="Id" Title="Id" />
            <RadzenDataGridColumn TItem="TicketResponse" Property="Title" Title="Title" />
            <RadzenDataGridColumn TItem="TicketResponse" Property="SlaUsed" Title="SLA" />
            <RadzenDataGridColumn TItem="TicketResponse" Property="IsClosed" Title="Closed" />
            <RadzenDataGridColumn TItem="TicketResponse" Property="OrderID" Title="Details">
                <Template Context="data">
                <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Lighter" @onclick="(() => {})" Icon="info" class="m-1" Text="@data.Id.ToString()" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private TicketResponse[]? tickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = await Http.GetFromJsonAsync<TicketResponse[]>("Ticket");
    }
}